@mixin a{
	text-decoration: none;
    color: #666;
}
@mixin clearfix{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
@mixin land_input{
	position: relative;
    margin-bottom: 35px;
    font-size: 14px;
    color: #ccc;
	    }
@mixin land_input_i{
	width: 40px;
	height: 40px;
	background:url(../images/denglubg.png) no-repeat;
	display: block;
	position: absolute;
	left: 5px;
	top: 0;
}
@mixin dl_no_p{
	line-height: 30px;
    text-align: left;
    color: #666;
    margin-bottom: 17px;
}
@mixin dl_fr_a{
	background: url(../images/denglubg.png) no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    display: inline;
    margin-right: 20px;
    overflow: hidden;
    text-indent: -99em;
    font-size: 0;
}
@mixin wrap{
	width: 1000px;
    margin: 0 auto;
    
}
.product_type{
	.products_type_nav{
	display:none;
	}
	&:hover{
		.products_type_nav{
			display:block;
			}
	}
}
.detail_body{
	width: 100%;
    text-align: center;
    .detail_wrap{
    	@include wrap;
    	text-align: left;
    	position: relative;
    }
}
.AllWrapInside{
	width:1098px;
	margin: 30px auto 50px;
    /* border: solid 1px #e1e1e1; */
    .dengluimg{
    	width: 500px;
	    border-right: solid 1px #e1e1e1;
	    text-align: center;
	    padding: 60px 69px 40px 69px;
	    float: left;
	    display: inline;
	    a{
	    	@include a;
	    	img{
	    		width: 500px;
    			height: 340px;
	    	}
	    }
    }
    .denglu_in{
    	width: 350px;
	    padding: 30px 50px 0;
	    float: right;
	    display: inline;
	    font-size: 14px;
	    position: relative;
	    .land{
	    	height: 45px;
    		line-height: 45px;

    		h2{
    			font-size: 24px;
			    color: #e73a77;
			    float: left;
			    display: inline;
			    height: 45px;
			    line-height: 28px;
    		}
    		span{
    			float: right;
			    display: inline;
			    color: #969696;
			    vertical-align: bottom;
    		}
    		&:after{
    			@include clearfix;
    		}
	    }
	   
	    .land_input1{
	    	@include land_input;
	    	i{
	    		@include land_input_i;
	    		background-position: 0 -80px;
	    	}
	    	input{
	    		width: 300px;
			    height: 20px;
			    line-height: 20px;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    border: solid 1px #ccc;
			    padding-left: 45px;
			    font-family: "microsoft yahei";
			    display: block;
	    	}
	    }
	    .land_input2{
	    	@include land_input;
	    	i{
	    		@include land_input_i;
	    		background-position: -40px -80px;

	    	}
	    	#password{
	    		width: 300px;
			    height: 20px;
			    line-height: 20px;
			    padding-top: 10px;
			    padding-bottom: 10px;
			    border: solid 1px #ccc;
			    padding-left: 45px;
			    font-family: "microsoft yahei";
			    display: block;
	    	}
	    }
	    .forget{
	    	overflow: hidden;
	    	span{
					float: left;
				    display: inline;
				    color: #666;
	    	}
	    	a{
					float: right;
				    display: inline;
				    color: #e73a77;
	    	}
	    }
	    .dl_denglu{
	    	margin-top: 15px;
	    	input{
	    		width: 347px;
			    height: 43px;
			    color: #fff;
			    font-size: 16px;
			    background: #e73a77;
			    border-radius: 4px;
			    text-align: center;
			    cursor: pointer;
			    font-family: "microsoft yahei";
	    	}
	    }
	    .dl_nos{
			padding-top: 15px;
    		padding-left: 0;
    		P{
    			@include dl_no_p;
    			margin-bottom: 6px;
    		}
    		.dl_fr{
    			overflow: hidden;
    			a:nth-of-type(1){
    				
    				@include dl_fr_a;
    				background-position: -40px 0;
    				&:hover{
    					background-position: -40px -40px;
    				}
    			}
    			a:nth-of-type(2){
    				
    				@include dl_fr_a;
    				background-position: 0px -122px;
    				&:hover{
    					background-position: -47px -122px;
    				}
    			}

    		}
	    }

    }
    .clearfix{
    	&:after{
    		@include clearfix;
    	}
    }

}
.minifooter{
	width: 980px;
    margin: 0 auto;
    text-align: center;
    border-top: #E1E1E1 1px solid;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    background: url(../images/2015-11-10_140503.jpg);
}